* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
  min-height: 100svh;
}
:root {
  --background-color: #252837;
  --text-color: white;
  --two-color: #E4E4E4;
  --primary-color: #EC7C69;
  --secondary-color: #1F1D2B;
  --font-family: 'Baloo 2', cursive;
}
.btn-disabled {
  background-color: #945a50;
  color: rgb(46, 46, 46);
  font-size: 1.1rem;
  cursor: not-allowed;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo 2', cursive;
  background-color: var(--background-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 90%;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 20px;
}