.container-barData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  gap: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.header p {
  font-size: 1rem;
  color: #adb5bd;
}

/* Sección de viaje */
.trip-section {
  background-color: #343a40;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.trip-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.primary {
  background-color: #f96666;
}

.secondary {
  background-color: #ff8c8c;
}

/* Sección de progreso */
.progress-section {
  background-color: #343a40;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.progress-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.progress-item {
  width: 20%;
  background-color: #495057;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.filled {
  background-color: #d4ed91;
  color: #000;
}

/* Sección de información */
.info-section {
  background-color: #343a40;
  padding: 20px;
  border-radius: 10px;
}

.info-section h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.info-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info-section ul li {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.info-section ul li::before {
  content: '●';
  color: #ff8c8c;
  margin-right: 8px;
}
